@model Student.ViewModel.StudentViewModel

@{
    ViewData["Title"] = "Student Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    <i class="bi bi-emoji-frown"></i>
    Edit Student
</h2>
<hr />


<section class="row justify-content-between">
    <div class="col-md-4">
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="text-muted" asp-for="frstNameArabic"></label>
                <input type="text" class="form-control" asp-for="frstNameArabic" maxlength="250" />
                <span asp-validation-for="frstNameArabic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="scndNameArabic"></label>
                <input class="form-control" asp-for="scndNameArabic" />
                <span asp-validation-for="scndNameArabic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="thrdNameArabic"></label>
                <input type="text" class="form-control" asp-for="thrdNameArabic" />
                <span asp-validation-for="thrdNameArabic" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label class="text-muted" asp-for="fristNameEnglish"></label>
                <input type="text" class="form-control" asp-for="fristNameEnglish" />
                <span asp-validation-for="fristNameEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="scndNameEnglish"></label>
                <input class="form-control" asp-for="scndNameEnglish" />
                <span asp-validation-for="scndNameEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="thrdNameEnglish"></label>
                <input class="form-control" asp-for="thrdNameEnglish" />
                <span asp-validation-for="thrdNameEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="NationalCode"></label>
                <input class="form-control" asp-for="NationalCode" />
                <span asp-validation-for="NationalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="nationalityId"></label>
                <select class="form-control" asp-for="nationalityId" asp-items="@(new SelectList(Model.nationalities,"nationalityId","Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="nationalityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="GovernorateId"></label>
                <select class="form-control Governorate" asp-for="GovernorateId" asp-items="@(new SelectList(Model.Governorates,"GovernorateId","Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="GovernorateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="cityId"></label>
                <select class="form-control city" asp-for="cityId" asp-items="@(new SelectList(Model.Cities,"cityId","Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="cityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="address"></label>
                <input class="form-control" asp-for="address" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="qualificationId"></label>
                <select class="form-control" asp-for="qualificationId" asp-items="@(new SelectList(Model.Qualifications,"qualificationId","Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="qualificationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="DegreeId"></label>
                <select class="form-control" asp-for="DegreeId" asp-items="@(new SelectList(Model.Degrees,"DegreeId","Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="DegreeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="percentage"></label>
                <input class="form-control" asp-for="percentage" />
                <span asp-validation-for="percentage" class="text-danger"></span>
            </div>
            &nbsp;
            <div class="custom-file">
                <label class="custom-file-label" asp-for="imagurl"></label>
                <input type="file" class="custom-file-input" asp-for="imagurl" accept=".png, .jpg" />
                <span asp-validation-for="imagurl" class="text-danger"></span>
            </div>
            &nbsp;
            <div class="form-group" hidden>
                <label class="text-muted" asp-for="studentCode"></label>
                <input class="form-control" asp-for="studentCode" />
                <span asp-validation-for="studentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="InstituteId"></label>
                <select class="form-control Institute" asp-for="InstituteId" asp-items="@(new SelectList(Model.Institutes,"InstituteId","Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="InstituteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="departmentId"></label>
                <select class="form-control department" asp-for="departmentId" asp-items="@(new SelectList(Model.departments,"departmentId","Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="departmentId" class="text-danger"></span>
            </div>
            <div class="mt-4">
                <button class="btn btn-info" type="submit">
                    <i class="bi bi-save"></i>
                    Save
                </button>
                <a asp-action="index" class="btn btn-outline-secondary">
                    <i class="bi bi-door-open"></i>
                    Cancel
                </a>
            </div>
        </form>
        

    </div>
    <div class="col-md-4">
        <div id="image-container" class="">
            <img src="@($"data:image/*;base64, {Convert.ToBase64String(Model.imagurl)}")" alt="Student Image" class="img-thumbnail" />
        </div>
    </div>
</section>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {
            $('#imagurl').on('change', function () {
                var selectedfile = $(this).val().split('\\').pop();
                $(this).siblings('label').text(selectedfile);

                var posterContainer = $('#image-container');
                var Postr = window.URL.createObjectURL(this.files[0]);
                posterContainer.removeClass('d-none');
                posterContainer.find('img').attr('src', Postr);
            });
        });
    </script>


    <script>
        $(".Governorate").change(function () {
            let id = $(".Governorate option:selected").val();

            if (id !== null) {


                $.ajax({
                    url: "/students/GetCity",
                    type: "GET",
                    data: { governorateId: id },
                    success: function (data) {
                        let items = '';
                        $.each(data, function (i, city) {
                            items += '<option value="' + city.value + '">' + city.text + "</option>";
                        });
                        $(".city").html(items);
                    },
                    error: function () {
                        alert('worng');
                    }
                });
            }
        });
    </script>


    <script>
        $(".Institute").change(function () {
            let id = $(".Institute option:selected").val();

            if (id !== null) {


                $.ajax({
                    url: "/students/GetDepartment",
                    type: "GET",
                    data: { instituteId: id },
                    success: function (data) {
                        let items = '';
                        $.each(data, function (i, dep) {
                            items += '<option value="' + dep.value + '">' + dep.text + "</option>";
                        });
                        $(".department").html(items);
                    },
                    error: function () {
                        alert('worng');
                    }
                });
            }
        });
    </script>

}